.modal{
    display:none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    animation: slideDown 0.5s ease;
}

@keyframes slideDown {
    from{
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
    
}

.modal-buttons button{
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
}